In [1]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("vbsw-zws8", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [2]:
results_df

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,b7466df64a9d6468932eec014eae3cec511532d4,6f45c05aa231c9dd389ebdb65ca751cd82ef7634766017...,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,240,0.6,8,8,5,0,...,Cash,Choice Taxi Association,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
1,b7764b21dc3ff27f26710ab021095163618b966d,161590e8d52e3d4158dac317ec1e185b7b4b4f4c821473...,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,600,1,8,8,7.25,3,...,Credit Card,Star North Management LLC,41.892042136,-87.63186395,"{'type': 'Point', 'coordinates': [-87.63186394...",41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",17031081700,17031081401
2,ab5bad0855af2457368d554ac7b2f6a85fb18e6a,7abac4926ff296e6403f9929f4527d9dd181e54e72f720...,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,383,0.69,8,8,5.75,0,...,Cash,Flash Cab,41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",41.898331794,-87.620762865,"{'type': 'Point', 'coordinates': [-87.62076286...",17031081401,17031081300
3,ab953aeb5b56c753b3bdf9285a40147d341f9205,155ffe17bc32e7c3bfdfdba2750e82c6a23dab24f77d6c...,2020-01-01T00:00:00.000,2020-01-01T00:30:00.000,1861,3.16,8,32,16,3.6,...,Credit Card,City Service,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",41.877406123,-87.621971652,"{'type': 'Point', 'coordinates': [-87.62197165...",17031081201,17031320400
4,ac4bf1d500abdcbfc141a10050031621c3f6d6ad,690e6f6c8d77a5d90d150573dc42de392e58ba1e2ca4ae...,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,960,11.1,76,21,28.75,6.65,...,Credit Card,Star North Management LLC,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",41.938666196,-87.711210593,"{'type': 'Point', 'coordinates': [-87.71121059...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,e992eea310059d4b34788403af16710df60bea32,df2f58c4004453b90fa9582a69fd9fd2e4c5362ecf0aee...,2020-01-01T01:15:00.000,2020-01-01T01:15:00.000,196,0.2,8,8,4,0,...,Cash,Chicago Taxicab,41.902788048,-87.62614559,"{'type': 'Point', 'coordinates': [-87.62614558...",41.900221297,-87.629105186,"{'type': 'Point', 'coordinates': [-87.62910518...",17031081202,17031081100
1996,341295afa5da99bd72a0a4e235cba6b85a5c0803,5adbc97abe353b4ad223abfb31d0311bd30800e15f43a2...,2020-01-01T01:15:00.000,2020-01-01T01:30:00.000,665,2.21,8,8,9.5,0,...,Cash,Chicago Carriage Cab Corp,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",41.904935302,-87.649907226,"{'type': 'Point', 'coordinates': [-87.64990722...",17031081500,17031842200
1997,307aea79c16f3b5d3449d7298d499f5a05965175,1ea1e5a78c42dc6a54d25fee07022a14e5d03cc06a597c...,2020-01-01T01:15:00.000,2020-01-01T01:15:00.000,420,1.9,8,7,8.25,1.25,...,Credit Card,Medallion Leasin,41.90749193,-87.63576009,"{'type': 'Point', 'coordinates': [-87.63576009...",41.921877461,-87.66407824,"{'type': 'Point', 'coordinates': [-87.66407823...",17031080300,17031832500
1998,32fbd9ee68451acd242154f4da73b0a4384cb2e9,c4b8125a4c89c864b1f5dfc240ff17752f46dc27f574cf...,2020-01-01T01:15:00.000,2020-01-01T01:30:00.000,660,0.2,1,6,13.25,0,...,Cash,Taxi Affiliation Services,42.009622881,-87.670166857,"{'type': 'Point', 'coordinates': [-87.67016685...",41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",NaN,NaN
1999,2de547580e9386305c4a44e4bb856908bcc11325,e93472aad9e00c0a523e1a861ae897303548d713ba63d3...,2020-01-01T01:15:00.000,2020-01-01T01:30:00.000,712,2.43,5,7,9.5,0,...,Prcard,Flash Cab,41.947791586,-87.683834942,"{'type': 'Point', 'coordinates': [-87.68383494...",41.922686284,-87.649488729,"{'type': 'Point', 'coordinates': [-87.64948872...",NaN,NaN

In [3]:
results_df.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,b7466df64a9d6468932eec014eae3cec511532d4,6f45c05aa231c9dd389ebdb65ca751cd82ef7634766017...,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,240,0.6,8,8,5,0,...,Cash,Choice Taxi Association,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
1,b7764b21dc3ff27f26710ab021095163618b966d,161590e8d52e3d4158dac317ec1e185b7b4b4f4c821473...,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,600,1,8,8,7.25,3,...,Credit Card,Star North Management LLC,41.892042136,-87.63186395,"{'type': 'Point', 'coordinates': [-87.63186394...",41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",17031081700,17031081401
2,ab5bad0855af2457368d554ac7b2f6a85fb18e6a,7abac4926ff296e6403f9929f4527d9dd181e54e72f720...,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,383,0.69,8,8,5.75,0,...,Cash,Flash Cab,41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",41.898331794,-87.620762865,"{'type': 'Point', 'coordinates': [-87.62076286...",17031081401,17031081300
3,ab953aeb5b56c753b3bdf9285a40147d341f9205,155ffe17bc32e7c3bfdfdba2750e82c6a23dab24f77d6c...,2020-01-01T00:00:00.000,2020-01-01T00:30:00.000,1861,3.16,8,32,16,3.6,...,Credit Card,City Service,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",41.877406123,-87.621971652,"{'type': 'Point', 'coordinates': [-87.62197165...",17031081201,17031320400
4,ac4bf1d500abdcbfc141a10050031621c3f6d6ad,690e6f6c8d77a5d90d150573dc42de392e58ba1e2ca4ae...,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,960,11.1,76,21,28.75,6.65,...,Credit Card,Star North Management LLC,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",41.938666196,-87.711210593,"{'type': 'Point', 'coordinates': [-87.71121059...",NaN,NaN

In [4]:
print ("Num of rows: " + str(results_df.shape[0])) # row count
print ("Num of columns: " + str(results_df.shape[1])) # col count

Num of rows: 2000
Num of columns: 23

In [5]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     2000 non-null   object
 1   taxi_id                     2000 non-null   object
 2   trip_start_timestamp        2000 non-null   object
 3   trip_end_timestamp          1999 non-null   object
 4   trip_seconds                1997 non-null   object
 5   trip_miles                  2000 non-null   object
 6   pickup_community_area       1907 non-null   object
 7   dropoff_community_area      1879 non-null   object
 8   fare                        2000 non-null   object
 9   tips                        2000 non-null   object
 10  tolls                       2000 non-null   object
 11  extras                      2000 non-null   object
 12  trip_total                  2000 non-null   object
 13  payment_type                2000 non-null   object
 14  company                     2000 non-null   object
 15  pickup_centroid_latitude    1907 non-null   object
 16  pickup_centroid_longitude   1907 non-null   object
 17  pickup_centroid_location    1907 non-null   object
 18  dropoff_centroid_latitude   1879 non-null   object
 19  dropoff_centroid_longitude  1879 non-null   object
 20  dropoff_centroid_location   1879 non-null   object
 21  pickup_census_tract         1137 non-null   object
 22  dropoff_census_tract        1135 non-null   object
dtypes: object(23)
memory usage: 359.5+ KB

In [6]:
results_df.isnull().sum()

trip_id                         0
taxi_id                         0
trip_start_timestamp            0
trip_end_timestamp              1
trip_seconds                    3
trip_miles                      0
pickup_community_area          93
dropoff_community_area        121
fare                            0
tips                            0
tolls                           0
extras                          0
trip_total                      0
payment_type                    0
company                         0
pickup_centroid_latitude       93
pickup_centroid_longitude      93
pickup_centroid_location       93
dropoff_centroid_latitude     121
dropoff_centroid_longitude    121
dropoff_centroid_location     121
pickup_census_tract           863
dropoff_census_tract          865
dtype: int64

In [10]:
#Checking the total and percent of the missing values
total = results_df.isnull().sum().sort_values(ascending=False)
percent = (results_df.isnull().sum()/results_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                           Total  Percent
dropoff_centroid_location      0      0.0
pickup_centroid_location       0      0.0
company                        0      0.0
trip_total                     0      0.0
extras                         0      0.0
tolls                          0      0.0
tips                           0      0.0
fare                           0      0.0
dropoff_community_area         0      0.0
pickup_community_area          0      0.0
trip_miles                     0      0.0
trip_seconds                   0      0.0
trip_end_timestamp             0      0.0
trip_start_timestamp           0      0.0
trip_id                        0      0.0

In [11]:
results_df=results_df.dropna()

In [12]:
results_df=results_df.drop(['taxi_id','payment_type','pickup_centroid_latitude','pickup_centroid_longitude','dropoff_centroid_latitude','dropoff_centroid_longitude','pickup_census_tract','dropoff_census_tract'], axis=1)

KeyError: "['taxi_id' 'payment_type' 'pickup_centroid_latitude'\n 'pickup_centroid_longitude' 'dropoff_centroid_latitude'\n 'dropoff_centroid_longitude' 'pickup_census_tract' 'dropoff_census_tract'] not found in axis"

In [13]:
results_df

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,company,pickup_centroid_location,dropoff_centroid_location
1,b7764b21dc3ff27f26710ab021095163618b966d,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,600,1,8,8,7.25,3,0,1,11.25,Star North Management LLC,"{'type': 'Point', 'coordinates': [-87.63186394...","{'type': 'Point', 'coordinates': [-87.61971067..."
2,ab5bad0855af2457368d554ac7b2f6a85fb18e6a,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,383,0.69,8,8,5.75,0,0,0,5.75,Flash Cab,"{'type': 'Point', 'coordinates': [-87.61971067...","{'type': 'Point', 'coordinates': [-87.62076286..."
3,ab953aeb5b56c753b3bdf9285a40147d341f9205,2020-01-01T00:00:00.000,2020-01-01T00:30:00.000,1861,3.16,8,32,16,3.6,0,1.5,21.6,City Service,"{'type': 'Point', 'coordinates': [-87.62621053...","{'type': 'Point', 'coordinates': [-87.62197165..."
5,a7c16d6454dc82c61a10c7259152825884611254,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,660,2,8,28,9,0,0,0,9,Taxi Affiliation Services,"{'type': 'Point', 'coordinates': [-87.62614558...","{'type': 'Point', 'coordinates': [-87.65723319..."
7,a350f7a98227f3a8d76dd55cb0f7bc01700465f6,2020-01-01T00:00:00.000,2020-01-01T00:15:00.000,729,1.5,28,8,8.25,0,0,0,8.25,Medallion Leasin,"{'type': 'Point', 'coordinates': [-87.65723319...","{'type': 'Point', 'coordinates': [-87.63186394..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,ec3a8030bfa5a10c17146ad719b9d77b6784c840,2020-01-01T01:15:00.000,2020-01-01T01:30:00.000,780,0.7,8,8,8,3,0,1,12,KOAM Taxi Association,"{'type': 'Point', 'coordinates': [-87.62076286...","{'type': 'Point', 'coordinates': [-87.61971067..."
1993,eb514644c3b268e4aed5b0548c3584cc0d656038,2020-01-01T01:15:00.000,2020-01-01T01:15:00.000,120,0.6,7,8,4.75,0,0,2,6.75,Taxi Affiliation Services,"{'type': 'Point', 'coordinates': [-87.63415609...","{'type': 'Point', 'coordinates': [-87.63096360..."
1995,e992eea310059d4b34788403af16710df60bea32,2020-01-01T01:15:00.000,2020-01-01T01:15:00.000,196,0.2,8,8,4,0,0,0,4,Chicago Taxicab,"{'type': 'Point', 'coordinates': [-87.62614558...","{'type': 'Point', 'coordinates': [-87.62910518..."
1996,341295afa5da99bd72a0a4e235cba6b85a5c0803,2020-01-01T01:15:00.000,2020-01-01T01:30:00.000,665,2.21,8,8,9.5,0,0,2,11.5,Chicago Carriage Cab Corp,"{'type': 'Point', 'coordinates': [-87.62621490...","{'type': 'Point', 'coordinates': [-87.64990722..."
1997,307aea79c16f3b5d3449d7298d499f5a05965175,2020-01-01T01:15:00.000,2020-01-01T01:15:00.000,420,1.9,8,7,8.25,1.25,0,0,10,Medallion Leasin,"{'type': 'Point', 'coordinates': [-87.63576009...","{'type': 'Point', 'coordinates': [-87.66407823..."

In [14]:
results_df.to_csv('Taxi Data Set-2020.csv')